.bg-box {
	height: 20%;
	background:url('../images/bggg.jpg');
}
.box {
	width: 660px;
	position: fixed;
	height: 680px;
	left: 50%;
	margin-left: -330px;
}

.login-box {
	width: 700px;
	height: 430px;
	position: absolute;
	left: 50%;
	margin-left: -350px;
	top: 50%;
	background-color: #fff;
	-moz-border-radius: 5px; /* Firefox */
  	-webkit-border-radius: 5px; /* Safari 和 Chrome */
 	 border-radius: 5px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */

}
.list ul {
			width: 95%;
			position: relative;
			margin: 0 auto;
			left: -12px;
		}

.login-in span {
	display: block;
	background-color: #3b98bd;
	height: 150px;
}
.login-in {
	font-size: 48px;
	color: #575454;
	position: relative;

}

.login-in span img{
	position: absolute;
	left: 50%;
	margin-left: -270px;
	margin-top: 46px;
}

.form-group {
	padding-left: 50px;
	margin-top: 30px;
}

.form-group label {
	width: 150px;
}

.form-group input {
	width: 400px;
	height: 50px;
	position: relative;
	top: 7px;
	border:3px solid #ddd;
	border-radius: 5px;
}

.form-control {
	font-size: 24px;
}
.btspc input {
	width: 400px;
	height: 50px;
	margin-top: 10px;
	margin-left: -80px;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-size: 25px;
}

.btspc {
	width: 400px;
	margin-left:280px;
	margin-top: 20px;
}

.user span{
	width: 150px;
	height: 68px;
	background:url('../images/user.png');
}
.pass span {
	width: 150px;
	height: 68px;
	background:url('../images/password1.png');
}

#wizard {font-size:22px;height:570px;margin:20px auto;overflow:hidden;position:relative;-moz-border-radius:5px;-webkit-border-radius:5px;}
#wizard .items{width:20000px; clear:both; position:absolute;}
#wizard .right{float:right;}
#wizard #status{height:55px;background:#8A8A8A;padding-left:25px !important;}
#status li{float:left;color:#fff;padding:10px 30px;}
#status li.active{background-color:#4472A1;font-weight:normal; height: 65px;font-size: 30px;}
.input{width:340px; height:38px; margin:2px auto; line-height:20px; border:1px solid #d3d3d3; padding:2px}
.page{width:800px; float:left; height: 500px; margin-top: 50px;}
.page h3{ font-size:16px; border-bottom:1px dotted #ccc; padding-bottom: 10px;}
.page h3 em{font-size:12px; font-weight:500; font-style:normal}
.page p{float: left;  margin-left: 10px;}
.page p label{font-size:22px; display:block;}
.btn_nav{height:36px; line-height:36px; margin:20px auto;}
.prev,.next{width:100px; height:32px; line-height:32px; margin-top: 20px; position: relative;left: -20px; background:url(btn_bg.gif) repeat-x bottom; border:1px solid #d3d3d3; cursor:pointer}


tr {
	cursor: pointer;
}

.tit{
	width:400px;
	position: relative;
	left: 50%;
	margin-left: -290px;
	top:30px;
}

.btn-success {
	width: 120px;
	height: 37px;
	font-size: 20px;
	position: relative;
	top: -2px;
}

select {
	width: 300px;
	height: 600px;
	font-size: 20px;
}
.btn-box1 {
	width: 30px;
	height: 50px;
	display: inline-block;
	vertical-align: top;
}

.btn-box1 ul li a{
	display: block;
	width: 20px;
	height: 60px;
	background-color: #ddd;
}

/*.btn-box11 {
	height: 100px;
	width: 30px;
	display: inline-block;
	vertical-align: top;
}

.btn-box11 ul li a{
	display: block;
	width: 20px;
	height: 60px;
	background-color: #ddd;
}*/

.table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none;
}

